.border-pane-fill{
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: pink;
    -fx-min-width: 25;
    -fx-min-height:25;
    -fx-max-width:25;
    -fx-max-height: 25;
}

.background{
    -fx-background-color: lightblue;
}

.green-fill{
    -fx-background-color: green;
}
